<html>
<head>
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container" id="app" style="padding-top: 5%">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<img src="./thumb/Vue.png" alt="" style="width: 100%">
							</div>
							<div class="col-md-10">
								<h4>ini ceritanya status dari vue fans page</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="row" v-for="item in isi">
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-primary" >
						<div class="panel-body" style="padding: 10px">
							<div class="row">
								<div class="col-md-2">
									<img src="./thumb/pc.png" alt="" style="width: 50%; margin-left: 30px">
								</div>
								<div class="col-md-10">
									<strong>PC STMIK </strong><small>{{ item.koment }} </small>
									<p style="margin-bottom: 0" v-on:click="isi.splice(index, 1)">
										Hapus
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Tulis Komentar" v-model="komentar" v-on:keyup.enter="addNewKoment">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" v-on:click="addNewKoment">Kirim !</button>
					</span>
				</div><!-- /input-group -->
			</div>
		</div>
	</div>

</body>
<script src="./vue/vue.js"></script>
<script>
	var vm = new Vue({
		el: '#app',
		data: {
			komentar: 'tes komentar',
			isi: [
			{koment: 'ini komentar'}
			]
		},
		methods: {
			addNewKoment: function () {
				if (this.komentar.length == 0) {return false}	
					this.isi.push({
						koment: this.komentar
					})
				this.komentar = ''
			},
		}
	});
</script>
</html>